.home-page {
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .home-hero {
    margin-bottom: 40px;
  }
  
  .home-inspiration {
    margin-bottom: 40px; 
  }
  
  .home-collections {
    margin-bottom: 40px; 
  }
  
  .home-featured-products {
    margin-bottom: 40px; 
  }
  