.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin-left: 5%;
  background-color: white;
  position: relative; /* Ensure the sidebar is positioned relative to the navbar */
  height: 10vh;
}

.logo {
  size: 10px;
  margin-left: -10%;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-drop {
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  margin-left: 7%;
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-img {
  width: 200px;
  height: 120px;
}

.logo-img-sidebar {
  margin-left: 20px;
  width: 200px;
  height: 120px;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: -10%;
}

.search-container {
  position: relative;
  display: flex;
  width: 40%;
}

.search-bar {
  width: 100%;
  padding: 1.1rem;
  border-radius: 40px;
  border: none;
  background-color: #f4f4f4;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 370px;
  height: 100%;
  width: 370px;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 10000;
}

.sidebar.open {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.close-btn {
  background: none;
  border: none;
  color: #000000;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin-left: 80px;
  font-size: 1.4rem;
  margin-top: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar-links li {
  margin: 20px 0;
  margin-top: 30px;
}

.sidebar-links a {
  color: #161616;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 900;
  cursor: pointer;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 95%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  max-height: 300px; 
  overflow-y: auto;
}

.search-result-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.search-result-item:hover {
  background-color: #f4f4f4; 
}

.search-result-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.search-result-info h3 {
  margin: 0;
  font-size: 16px;
}

.search-result-info p {
  margin: 2px 0;
}
