.Products {
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;
}

.FilterSidebar {
  width: 250px; /* Adjust as needed */
}

.ProductDisplay {
  flex-grow: 1;
  margin-left: 20px;
}

/* Media Query for 480px or less */
@media screen and (max-width: 480px) {
  .Products {
    flex-direction: column; /* Stack the elements vertically */
  }

  .FilterSidebar {
    width: 100%; /* Take full width of the screen */
    margin-bottom: 20px; /* Space between filter and products */
  }

  .ProductDisplay {
    margin-left: 0; /* Reset margin */
  }
}
